@model OhSnap.Models.Patient

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

    </dl>
    <h4>Injuries</h4>
    @Html.ActionLink("Create New", 
                     "Create", 
                     "Incidents", 
                     new { parentID = Model.ID }, 
                     null)
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Injuries.ElementAt(0).InjuryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Injuries.ElementAt(0).InjuryDate)
            </th>
            <th></th>
        </tr>

        @foreach (var injury in Model.Injuries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => injury.InjuryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => injury.InjuryHour)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", "Injuries", new { id = injury.ID }, new { }) |
                    @Html.ActionLink("Details", "Details", "Injuries", new { id = injury.ID }, new { }) |
                    @Html.ActionLink("Delete", "Delete", "Injuries", new { id = injury.ID }, new { })
                </td>
            </tr>
        }

    </table>
    