@model OhSnap.Models.Patient

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonalNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

    </dl>
    <h4>Incidents</h4>
    @Html.ActionLink("Create New", 
                     "Create", 
                     "Incidents", 
                     new { parentID = Model.PersonalNumber }, 
                     null)
    <table class="table">
        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.Incidents.ElementAt(0).InjuryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Incidents.ElementAt(0).InjuryDate)
            </th>
            <th></th>
        </tr>*@

        @foreach (var incident in Model.Incidents)
        {
            <tr>
                <td>INCIDENT</td>
                <td>
                    @Html.DisplayFor(modelItem => incident.InjuryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => incident.InjuryHour)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", "Incidents", new { id = incident.ID }, new { }) |
                    @*@Html.ActionLink("Details", "Details", "Incidents", new { id = incident.ID }, new { }) |*@
                    @Html.ActionLink("Delete", "Delete", "Incidents", new { id = incident.ID }, new { })
                </td>
            </tr>
            
            foreach (var fracture in incident.Fractures)
            {
                <tr>
                    <td>|_ FRACTURE</td>
                    <td>
                        @Html.DisplayFor(modelItem => fracture.AOCode)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Fractures", new { id = fracture.ID }, new { }) |
                        @*@Html.ActionLink("Details", "Details", "Fractures", new { id = fracture.ID }, new { }) |*@
                        @Html.ActionLink("Delete", "Delete", "Fractures", new { id = fracture.ID }, new { })
                    </td>
                </tr>
            }
        }

    </table>
    </div>
    