@model OhSnap.Models.Incident

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Incident</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InjuryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InjuryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InjuryHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InjuryHour)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Cancel", "Details", "Patients", new { id = Model.PersonalNumber }, new { })
        </div>
    }
</div>
