@model OhSnap.Models.Fracture

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/snap/snap.svg-min.js"></script>
    <script src="~/ts/CreateFracture/app.js"></script>
    <script src="~/ts/CreateFracture/controllers.js"></script>
    <script src="~/ts/CreateFracture/directives.js"></script>
}

<div ng-app="CreateFractureApp">
    <div>
        <script type="text/ng-template" id="/aoSelectionDialog.html">
            <div class="modal-header">
                <h4 class="modal-title">Velg AO Kode</h4>
            </div>
            <div class="modal-body row">
                <div ng-repeat="ao_info in prefixedAoCodes">
                    <div class="col-md-3">
                        <img src="/ao_image/{{ao_info.id}}" height="50px" ng-click="select(ao_info)" /><br>
                        <label>{{ao_info.id}}</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>

    <div ng-controller="CreateFractureCtrl">
        <h2>Create</h2>

        AO Code: {{ao_code}}

        <input ng-model="ao_code" />

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Velg fraktur</div>
                        <div class="panel-body">
                            <fracreg-skeleton-image>
                                <object type="image/svg+xml" id="ao-skeleton-image" data="~/Static/Images/skeleton.svg" height="700px">Your browser does not support SVG</object>
                            </fracreg-skeleton-image>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Fracture</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.AOCode, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AOCode, new { htmlAttributes = new { @class = "form-control", ng_model = "ao_code" } })
                                @Html.ValidationMessageFor(model => model.AOCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                                @Html.ActionLink(
                    "Cancel", "Details", "Patients",
                    new { id = ViewData["patientID"] }, new { })
                            </div>
                        </div>
                    </div>
                }
            </div>
